<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<springProperty scope="context" name="lokiUri" source="loki.uri"/>

	<appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
		<batchTimeoutMs>2000</batchTimeoutMs>
		<http>
			<url>${lokiUri:-http://localhost:3100/loki/api/v1/push}</url>
		</http>
		<format>
			<label>
				<pattern>application=${appName},hostname=${HOSTNAME},level=%level</pattern>
			</label>
			<message>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</message>
			<sortByTime>true</sortByTime>
		</format>
	</appender>

	<root level="INFO">
		<appender-ref ref="LOKI"/>
	</root>
</configuration>
